.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.detailsContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 50px 25% 50px 25%;
}

.imageContainer {
    background: url('./contact2.jpg');
    background-size: contain;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.contentContainer {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;

    text-align: center;
    font-size: 16px;
    color: #5d5d5d;
    border: 1px solid rgba(0,0,0,0.2);
    border-top: none;
    border-radius: 10px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    padding-bottom: 7px;
    margin: 0;
}

.subtitle {
    font-size: 14px;
    color: #fff;
    margin:0;
}

.contactItem {
    flex: 1;
}

.contactItem p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.contactItem p:last-child {
    margin-bottom: 12px;
}

.contactItem p:first-child {
    margin-bottom: 12px;
    font-weight: bold;
}

.footer {
    margin-top: auto;
    margin-left: auto;
}

.footer .copyRightText {
    margin-top: 0px;
    color: #848484;
    font-size: 14px;
    letter-spacing: 0;
}

.footer .communityText {
    margin-bottom: 0px;
    color: #848484;
    font-size: 16px;
    letter-spacing: 0;
}


.sidebarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    max-height: 100px;
    background: #00135f;;
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    border-bottom: 6px solid #00135f;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    position: relative;
}

.sidebarContainer:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-bottom: 20px solid white;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    
  }

.sidebarCopyrightContainer {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}

.searchInputs:focus {
    outline: none;
}

.searchInputs::placeholder {
    color: white;
    padding: 12px;
    font-size: 16px;
}

.sidebarCopyrightContainer .text {
    color: white;
    font-size: 18px;
    letter-spacing: 0;
    padding: 0px 12px 0px 12px;
    cursor: pointer;
}

.sidebarCopyrightContainer .text:hover {
    color: #c0d3d3;
}

.sidebarCopyrightContainer .searchInputs {
    color: white;
    font-size: 16px;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
}

.sidebarContentContainer {
    flex: 2;
    padding-left: 50px;
    display: flex;
    flex-direction: row;
}

.sidebarContentContainer .sidebarItem {
    color: white;
    cursor: pointer;
    padding-right: 16px;
    font-size: 18px;
    font-weight: 400;
}

.sidebarItem a {
    text-decoration: none;
    color: inherit;
}

.sidebarItem:hover a {
    color: #c0d3d3;
}

.sidebarTitleContainer {
    flex: 1;
    padding-left: 50px;
}

.sidebarTitleContainer a {
    text-decoration: none;
}

.sidebarTitleContainer .sidebarTitleText {
    color: #fff;
    font-size: 30px;
    line-height: 38px;
    font-weight: 700;
    padding: 20px 0 0px 0px;
}

.sidebarTitleContainer .sidebarSubtitleText {
    padding-top: 0px;
    margin-top: -10px;
    color: #fff;
    font-size: 12px;
    line-height: 38px;
    font-weight: 700;
    letter-spacing: 1px;
    word-spacing: 1px;
}